<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DBkey" value="DatabaseAPI" />
		<add key="DatabaseType" value="0"/>
		<add key ="DatabaseName" value="DiabetikusDB"/>
		<add key ="Server" value="localhost\CLUBSQLXPRESS"/>
		<add key ="Provider" value="System.Data.SqlClient"/>
		<add key ="Trusted_Connection" value="true"/>
		<add key ="Trusted_Cetificate" value="true"/>
	</appSettings>
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Server=localhost\CLUBSQLXPRESS;Database=DiabetikusDB;Trusted_Connection=true;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient"/>
		<add name="TestConnection"
			 connectionString="Unset"
			 providerName="Unset"/>
	</connectionStrings>
</configuration>